*{
    margin: 0;
    padding: 0;

}

.nav{
    width: 960px;
    height: 40px;
    background-color:rgb(97, 96, 96);
    margin: auto;
    padding: 4px;
    display: flex;
    justify-content:space-between;
    align-items: center;
 
 

}
.nav-title{
font-style:initial;


}

.nav-links{
    display: flex;
    width: 480px;
    justify-content:space-between;
    list-style: none;
    padding: 15px;
    text-decoration: none;
}

.btn{
    background-color: #009ac7;
    padding: 2px 15px;
    box-shadow: 3px 3px 5px black;
    font-family: 'Roboto', sans-serif;
    color: white;
}

a{

    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin:20px;
}